@media (min-width: 789px) {
  .four-card-section-main {
    margin-top: 64px;
  }

  .card h3 {
    margin-top: 32px;
    margin-left: 32px;
  }

  .card p {
    margin-top: 6px;
    margin-left: 32px;
    margin-right: 32px;
  }

  li.supervisor {
    margin-top: 140px;
  }

  li.calculator {
    margin-top: -140px;
  }
}
